[Desktop Entry]
Encoding=UTF-8
Name=Pura
Comment=Pura P2P Cryptocurrency
Comment[fr]=Pura, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pura, eşten eşe kriptografik sanal para birimi
Exec=pura-qt %u
Terminal=false
Type=Application
Icon=pura128
MimeType=x-scheme-handler/pura;
Categories=Office;Finance;
